@font-face {
    font-family: 'Retro Gaming';
    src: url('../fonts/retro_gaming-webfont.woff2') format('woff2'),
         url('../fonts/retro_gaming-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}